body {
    overflow-x: hidden;
}
.banner {
    margin-bottom: 50px;
    padding: 30px 0;
    padding-right: 10px;
    align-items: center;
    &-row {
        display: flex;
        justify-content: center;
        .img-item {
            width: calc(33% - 10px);
            margin-left: 10px;
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
        .card-item {
            width: calc(33% - 10px);
            margin-left: 10px;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #ccc;
            margin-top: 20px;
            background-color: aliceblue;
            img {
                max-width: 50px;
                object-fit: contain;
                vertical-align: middle;
            }
            span {
                display: block;
                font-size: 24px;
                font-weight: 700;
                color: #f56073;
                padding: 20px 0;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .section-content {
        margin-top: 50px;
        text-align: center;
        h2 {
            color: #f56073;
            font-size: 28px;
            padding: 10px 0;
        }
    }
}
