.product-container {
    .product-warp {
        display: flex;
        justify-content: space-between;
        margin: 25px 50px;
        padding: 43px;
        background-color: #ffd3d314;
        margin-bottom: 100px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        .procduct-gallery {
            width: 40%;
            img {
                max-width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .slider-for {
                margin-bottom: 20px;
                img {
                    height: 300px;
                }
            }
            .slider-nav {
                position: relative;
                img {
                    margin-left: 3px;
                }
                .next-arrow {
                    display: flex;
                    position: absolute;
                    min-width: 40px;
                    min-height: 40px;
                    top: 45%;
                    right: 2%;
                    background-color: transparent;
                    font-size: 24px;
                    color: white;

                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: -1;
                }
                .prev-arrow {
                    display: flex;
                    position: absolute;
                    min-width: 40px;
                    min-height: 40px;
                    top: 45%;
                    left: 2%;
                    background-color: transparent;
                    font-size: 24px;
                    color: white;

                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: -1;
                }
                &:hover .prev-arrow {
                    z-index: 1;
                    transition: all 0.3s ease 0.1s;
                }
                &:hover .next-arrow {
                    z-index: 1;
                    transition: all 0.3s ease 0.1s;
                }
                .next-arrow:hover,
                .prev-arrow:hover {
                    color: red;
                }
            }
        }
        .content {
            padding-left: 100px;
            margin-top: 20px;
            margin-right: auto;
            .breadcrumb {
                margin-bottom: 10px;
            }
            .product-name {
                width: 100%;
                word-break: break-all;
                font-size: 28px;
                line-height: 28px;
                margin-bottom: 10px;
                font-weight: 700;
                text-transform: uppercase;
                color: #140505ab;
            }
            .price {
                margin-top: 30px;
                font-size: 18px;
                font-weight: 700;
                color: #ff0909c7;
            }
            .product-content {
                font-size: 16px;
                line-height: 1.5;
                p {
                    margin-top: 30px;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.486);
                }
            }
            .pay {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 30px;
                a {
                    display: block;
                    margin-right: 20px;
                    font-size: 16px;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(7, 175, 72);
                    color: white;
                    cursor: pointer;
                    box-shadow: 0 2px 2px rgb(0 0 0 / 10%),
                        0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%),
                        0 16px 16px rgb(0 0 0 / 10%);
                    &:hover {
                        background-color: rgb(5, 121, 49);
                    }
                }
                .input-number {
                    width: 80px;
                    padding: 0 12px;
                    vertical-align: top;
                    text-align: center;
                    outline: none;
                    margin: 0 -5px;
                }

                .input-number,
                .input-number-decrement,
                .input-number-increment {
                    border: 1px solid #ccc;
                    height: 40px;
                    user-select: none;
                }

                .input-number-decrement,
                .input-number-increment {
                    display: inline-block;
                    width: 30px;
                    line-height: 38px;
                    background: #f1f1f1;
                    color: #444;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;

                    &:active {
                        background: #ddd;
                    }
                }

                .input-number-decrement {
                    border-right: none;
                    border-radius: 4px 0 0 4px;
                }

                .input-number-increment {
                    border-left: none;
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}
